[submodule "letsencrypt"]
	path = letsencrypt
	url = https://github.com/OutsideContextSolutions/ansible-letsencrypt.git
[submodule "postgres"]
	path = postgres
	url = https://github.com/ANXS/postgresql.git
